{% extends 'base.html' %}

{% block content %}
    <h1 class="siteHeader">{% block title %}My Garage{% endblock %} </h1>

    <div>
        <div class="row">
            <div class="col-4">
                <div class="panel">
                    <div class="panelHeader">My Tools</div>
                    <br/>
                    <div class="rowHeader">Jenkins</div>
                    <div class="rowContent"><a target="_blank" href="{{ Urls.jenkinsUrl }}">{{ Urls.jenkinsUrl }}</a></div>
                </div>
            </div>
            <div class="col-4">
                <div class="panel">
                    <div class="panelHeader">Mobile Apps</div>
                    <br/>
                    <div class="rowHeader">Scrum Guide</div>
                    <div class="rowContent"><a target="_blank" href="{{ Urls.scrumGuideUrl }}">{{ Urls.scrumGuideUrl }}</a></div>
                    <br/>
                    <div class="rowHeader">FlipIt</div>
                    <div class="rowContent"><a target="_blank" href="{{ Urls.flipItUrl }}">{{ Urls.flipItUrl }}</a></div>
                </div>
            </div>
            <div class="col-4">
                <div class="panel">
                    <div class="panelHeader">Blog</div>
                    <br/>
                    <div class="rowContent"><a target="_blank" href="https://thecodeshell.wordpress.com">https://thecodeshell.wordpress.com</a></div>
                </div>
            </div>
        </div> 
        <br/>
        <div class="row">   
            <div class="col-4">
                <div class="panel">
                    <div class="panelHeader">APIs</div>
                    <br/>
                    <div class="rowHeader">FlipIt Api</div>
                    <div class="rowContent"><a target="_blank" href="{{ Urls.flipItApiUrl }}">{{ Urls.flipItApiUrl }}</a></div>
                </div>
            </div>
            <div class="col-4">
                <div class="panel">
                    <div class="panelHeader">Web Apps</div>
                    <br/>
                    <div class="rowHeader">Code Snippets</div>
                    <div class="rowContent"><a target="_blank" href="{{ Urls.codeSnippetsUrl }}">{{ Urls.codeSnippetsUrl }}</a></div>
                </div>
            </div>
            <div class="col-4">
                <div class="panel">
                    <div class="panelHeader">Resume</div>
                    <br/>
                    <div class="rowContent"><a target="_blank" href="{{ Urls.resumeUrl }}">{{ Urls.resumeUrl }}</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
